body { padding: 0; margin: 0; width: 100%; height: auto; background: #F1F4F9; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
section.header { background: #34425A; color: #fff; padding: 30px 20px 0 20px; }
section.body { padding: 30px; }
div.column {    background-color: #e9edf2; }
button.btn { background: #34425a; color: #fff; padding: 10px 50px; font-size: 20px; box-shadow: none; border: none; margin-top: 10px; }
select, input { height: 35px; padding: 2px; margin: 10px; }

.page-row.control-panel ul { list-style: none; padding: 0; }
.page-row.control-panel ul li { display: inline-block; padding: 10px 30px; cursor: pointer; }
.page-row.control-panel ul li a { color: #fff; text-decoration: none; font-size: 15px; }
.page-row.control-panel ul li:hover a {color: #34425A;}
.page-row.control-panel ul li.active, .page-row.control-panel ul li:hover { background-color:#F1F4F9; color:#34425A; }

div.tabbody { width: 0px; height: 0px; padding: 0px; margin: 0px; opacity: 0; }
div.tabbody.active { width: auto; height: auto; padding: 20px !important; margin: auto; opacity: 1; } 

.table { margin-top: 45px; }
.table .row { border-bottom: 1px solid #d7d7d7; box-shadow: 10px 10px 6px -11px #fff; }
.table .row:after {content: '';display: block;clear: both;} .table .row.head { background: #34425a; }
.table .row.head { background: rgba(0, 0, 0, 0.21); }
.table .row.head .column { background: none; color: #fff; }
.table .row.completed {     background-color: #aff8c6 !important; }
.table .row .column { display:inline-block; padding: 20px 30px; text-align: left; width: 119px; max-height: 60px; overflow: hidden; vertical-align: top; }
.table .column.select { width: 10px; }
.table .column.id { width: 25px; }
.table .column.store { width: 45px; }
.table .column.storeid { width: 65px; }
.table .column.path { width: 350px; }
.table .column.ovalue { width: 200px; }
.table .column.nvalue { width: 200px; }
.table .column.status { width: 40px; }
.table .column.update { width: 40px; }

.table .row.active { background-color: #c7c7c7; }
.table .row.active .column { background-color: transparent; max-height: 100%; }
span.msg.warning { background: #ff8a00; color: #fff; }
span.msg.success { background: #10d600;; color: #fff; }
span.msg.error { background: #ff4545; color: #fff; }
span.msg { display: block; padding: 10px 24px; position: absolute; top: 0; right: 0; left: 0; }